body{
	background:#F5F5F5;
}
.navbar {
	background:#00897B;
}
.nav-link {
	color:#FAFAFA !important;
}
.priority-text{
	color:#BDBDBD !important;
}
.card-title .btn-default{
	background-color:#E0E0E0;
}